<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kion.kionhub.mapper.RoleMapper">
    <resultMap id="Role" type="cn.kion.kionhub.entity.Role">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleDescription" column="role_description"/>
    </resultMap>

    <resultMap id="RolePermission" type="cn.kion.kionhub.entity.RolePermissionVO">
        <id property="id" column="id"/>
        <association property="role" javaType="cn.kion.kionhub.entity.Role">
            <id property="id" column="id"/>
            <result property="roleName" column="role_name"/>
            <result property="roleDescription" column="role_description"/>
        </association>
        <collection property="permissionList" ofType="cn.kion.kionhub.entity.Permission">
            <id property="id" column="pid"/>
            <result property="permissionCode" column="permission_code"/>
            <result property="permissionName" column="permission_name"/>
        </collection>
    </resultMap>


    <select id="getAllRolesPermission" resultMap="RolePermission">
-- 			SELECT ANY_VALUE( count(1)) total ,r.id as id ,ANY_VALUE(r.role_name) as role_name,ANY_VALUE(r.role_description) as role_description,
--                 ANY_VALUE(p.id) as pid,ANY_VALUE(p.permission_code) as permission_code ,ANY_VALUE(p.permission_name) as permission_name FROM sys_role r LEFT JOIN
--                 sys_role_permission_relation rp ON r.id=rp.role_id LEFT JOIN
--                 sys_permission p ON rp.permission_id=p.id GROUP BY id;
    		SELECT r.id as id ,r.role_name as role_name,r.role_description as role_description,
                p.id as pid,p.permission_code as permission_code ,p.permission_name as permission_name FROM sys_role r LEFT JOIN
                sys_role_permission_relation rp ON r.id=rp.role_id LEFT JOIN
                sys_permission p ON rp.permission_id=p.id;

    </select>

    <update id="setUserRole">
        UPDATE sys_user_role_relation SET role_id=#{rid} WHERE user_id=#{uid};
    </update>

    <insert id="createRole">
        INSERT INTO sys_role (role_name,role_description)VALUES(#{roleName},#{roleDescription});
    </insert>
    <delete id="delRole">
        DELETE FROM sys_role WHERE id = #{id};
    </delete>
    <insert id="setRolePermission">
        INSET INTO sys_role_permission_relation(role_id,permission_id)VALUES(#{rid},#{pid});
    </insert>
    <delete id="delRolePermission">
        DELETE FROM sys_role_permission_relation WHERE role_id=#{rid} AND permission_id=#{pid};
    </delete>
</mapper>